
html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed, 

figure, figcaption, footer, header, hgroup, 

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

    margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;

    font: inherit;

    vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section {

    display: block;

}

body {

    line-height: 1;

}

ol, ul {

    list-style: none;

}

blockquote, q {

    quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

    content: '';

    content: none;

}

table {

    border-collapse: collapse;

    border-spacing: 0;

}


/*-------- header----------- */

#header_content {
    width: 1200px;

    margin: 0 auto;
}

#search_logo, #search_btn, #search_input {
    display: inline-block;
}

#header_stPage {
    color : black;
    text-decoration: none;
}

#header_jrNaver, #header_hpBean {
    font-weight: bold;
    color: #BDBDBD;
    text-decoration: none;
}


#header_stPage:active, #header_stPage:visited {
    color: black;
    text-decoration: none;
}

#header_stPage:hover {
    text-decoration: underline;
}

#header_jrNaver:hover {
    color: #FFBF00;
}

#header_hpBean:hover {
    color: #298A08;
}

.header_menu {
    position: relative;

    font-size: 12px;
    text-align: right;

    
    margin-top: 20px;
}

.search {
    text-align: center;
}


/*-------------nav----------------*/

#nav_content {
    width: 1200px;

    margin: 0 auto;


}

.id_life, .xid_life {
    font-weight: bold;
    margin: 6px;
}

.btn_seeMore {

}

.btn_filter {

}

.id_life, .id_life:visited , .id_life:active  {
    color: #19ce60;
    text-decoration: none;
}

.xid_life, .xid_life:visited, .xid_life:active {
    color: black;
    text-decoration: none;
}