#main_todayArticle, #cat_todayArticle, .main_Article, .movieArticle {
    margin: 10px 30px 10px 30px;
    padding: 15px 10px;
}


/*오늘 읽을만한 글*/
#todayArticle {    
    margin: 10px 30px 10px 30px;
    padding: 15px 10px;

    height: 350px;
}

#main_todayArticle_txt_1 {

    font-size: 15px;
    font-weight: bold;
}

#main_todayArticle_txt_2, #main_todayArticle_txt_3, #main_todayArticle_txt_4, #main_todayArticle_txt_5 {

    font-size: 12px;
    color: #585858;
}

#main_todayArticle_txt_3 {
    margin-left: 275px;
}

#main_todayArticle_txt_5:hover {

    cursor: pointer;
    color: black;

    text-decoration: underline;
}




/*카테고리*/
#cat_todayArticle {
    padding: 0px;

    height: 50px;

    border: 1px #D8D8D8 solid ;
}

.cat_today {
    float: left;

    width: 95px;
    height: 50px;
    
    font-weight: bold;
    font-size: 14px;

    text-align: center;

    
    border-right: 1px #D8D8D8 solid;

}

.cat_margin {margin-top: 17px; }

/*일단 책문화가 선택된걸로 설정*/
#cat_1 {background-color: #19ce60; color: white; box-shadow: 1px 1px 2px 2px gray;}

#cat_1:hover{/*background-color: #19ce60; color: white;*/ cursor: pointer;}
#cat_2:hover{color:#F7D358; cursor: pointer;}
#cat_3:hover{color:#0080FF; cursor: pointer;}
#cat_4:hover{color:#8904B1; cursor: pointer;}
#cat_5:hover{color:#886A08; cursor: pointer;}
#cat_6:hover{color:#3104B4; cursor: pointer;}
#cat_7:hover{color:#61380B; cursor: pointer;}
#cat_8:hover{color:#19ce60; cursor: pointer;}


/*사진과 책 article*/
#leftArticle {

    float: left;

    width: 50%;
    height: 350px;

}

#rightArticle {
    
    float: left;

    width: 50%;
    height: 350px;
}

#img_tdAt {
    background-image: url('./tdAt/img.PNG');
    background-repeat: no-repeat;
    height: 170px;

    margin-bottom: 20px;

}
#txt_tdAt {
    padding-right: 20px;
}


#txt_tdAt_1 {

    margin-bottom: 10px;

    color:  #19ce60;

    font-weight: bold;
    font-size: 13px;
}

#txt_tdAt_1:hover, #txt_tdAt_3, #txt_tdAt_4 {cursor: pointer;}
#txt_tdAt_2:hover {text-decoration: underline; cursor: pointer;}

#txt_tdAt_2 {

    margin-bottom: 10px;

    font-weight: bold;
    font-size: 14px;
}

#txt_tdAt_3 {

    margin-bottom: 7px;

    font-size: 13px;
    
    line-height: 22px;
}

#txt_tdAt_4 {
    font-size: 12px;
}

#book_1 p:hover , #book_2 p:hover , #book_3 p:hover {
    cursor: pointer;
}

#book_1_2:hover, #book_2_2:hover, #book_3_2:hover {
    text-decoration: underline;
    cursor: pointer;
}

#book_1_1, #book_2_1, #book_3_1 {
    color:#19ce60;

    margin-left: 110px;

    font-weight: bold;
    font-size: 13px;
}

#book_1_2, #book_2_2, #book_3_2 {
    margin-top: 10px;
    margin-left: 110px;

    font-weight: bold;
    font-size: 15px;

    line-height: 19px;
}

#book_1_3, #book_2_3, #book_3_3 {    
    margin-top: 10px;
    margin-left: 110px;

    font-size: 13px;

}

#book_1, #book_2, #book_3 {
    height: 100px;

    margin-bottom: 15px;
}




/*본문*/
.mainAt {
    margin-bottom: 20px;
}

.mainAt_title {

    margin-left: 180px;

    color: #19ce60;

    font-size: 14px;
    font-weight: bold;
}

.mainAt_subtitle {
    margin-left: 180px;
    margin-top: 8px;

    font-size: 15px;
    font-weight: bold;
    
}

.mainAt_content {
    margin-left: 180px;
    margin-top: 8px;

    font-size: 14px;
    line-height: 19px;
}

.mainAt_madeBy {
    margin-left: 180px;
    margin-top: 10px;

    color: #585858;
    font-size: 14px;
}

.mainAt_img {float: left; width: 165px; height: 110px; box-shadow: 1px 1px 2px 1px gray;}
.mainAt_img:hover{cursor: pointer;}
.mainAt_title, .mainAt_content, .mainAt_content, .mainAt_madeBy {cursor: pointer;}
.mainAt_subtitle:hover {text-decoration: underline; cursor: pointer;}


.movieArticle {
    height: 200px;
}


.mv{

    margin-bottom: 10px;
    width: 240px;
    height: 120px;
}

#mv1 {
    height: 120px;
    background-image: url('./movie/mv1.PNG');
    background-repeat: no-repeat;
}
#mv2 {
    height: 120px;
    background-image: url('./movie/mv2.PNG');
    background-repeat: no-repeat;
}
#mv3 {
    height: 120px;
    background-image: url('./movie/mv3.PNG');
    background-size: 240px 120px;
    background-position: center center;
    background-repeat: no-repeat;
}
#mv4 {
    height: 120px;
    background-image: url('./movie/mv4.PNG');
    background-repeat: no-repeat;
}
#mv5 {
    height: 120px;
    background-image: url('./movie/mv5.PNG');
    background-repeat: no-repeat;
}
#mv6 {
    height: 120px;
    background-image: url('./movie/mv6.PNG');
    background-repeat: no-repeat;
}

.mvtxt_content {
    font-weight: bold;
    font-size: 13px;

    line-height: 19px;
}

.mvtxt_content:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mvtxt_made {
    margin-top: 7px;
    font-size: 13px;
}


.mvAt{
    float: left;


    width: 250px;
    height: 200px;
}

.mvAt:hover {
    cursor: pointer;
}