#aside_box {
    width: 370px;
    float: right;

}

#aside_login {
    margin:10px 30px 10px 0px;

    background-color: #F2F2F2;
    border: 1px #D8D8D8 solid ;

    height: 140.234px;
}

#loginTxt {

    margin-left: 15px;

    margin-top: 20px;
    margin-bottom: 10px;

    font-size: 12px;

    color: #585858;
}

#loginBtn  {
    margin-left: 15px;
    
    width: 90%;
    height: 50px;

    background-color: #19ce60;
    
    color: white;
    text-align: center;

    border-radius: 2px;
}

#loginBtnTxt {
    margin-top: 10px;
}

#loginID{
    margin-left: 15px;
}

#joinUs {
    margin-left: 120px;
}


#loginID, #loginPW, #joinUs {
    font-size: 12px;
    text-decoration: none;
}

#aside_cycleInform {
    margin:10px 30px 10px 0px;

    height: 43px;

    background-color: #F2F2F2;
    border: 1px #D8D8D8 solid ;
    

}

#aside_promote {
    margin:10px 30px 10px 0px;

    background-color: #F2F2F2;
    border: 1px #D8D8D8 solid ;
    
}

#aside_shoptxt {
    margin:30px 30px 20px 0px;
}

#shoptxt_1, #shoptxt_2, #shoptxt_3, #shoptxt_4 {
    font-size: 15px;
    font-weight: bold;
}

#shoptxt_2:hover, #shoptxt_3:hover, #shoptxt_4:hover {
    text-decoration: none;
    cursor: pointer;
}

#shoptxt_1:hover {
    text-decoration: underline;
    
    cursor: pointer;
}

#shoptxt_2 {
    color: #19ce60;
    text-decoration: underline;

    margin-left: 183px;
}


#aside_shop {
    margin:10px 30px 10px 0px;
    border: 1px #D8D8D8 solid ;
}

#shopLink {
    background-color: #F2F2F2;

    border-bottom: 1px solid #d8d8d8;

}

#tpProdSwitch {
    margin:10px 0px 10px 0px;

}

#tpProdCnt {
    margin-left: 240px;
}


.shopBtn {


    background-color: white;
    border: 1px solid #D8D8D8;
}

#productSection {
    height: 300px;
}

#product {
    height: 180px;
}

#product_1, #product_2, #product_3 {
    float: left;

    text-align: center;

    width: 100px;
    height: 180px;
}

#product_1_img, #product_2_img, #product_3_img {

    background-image: url('http://placehold.it/105x144');
    background-repeat: no-repeat;
    
    height: 144px;
}

#product_1_txt, #product_2_txt, #product_3_txt {
    
    font-size: 11px;
    
}

#btProdSwitch {
    float: none;
}

