#aside_box {
    width: 370px;
    float: right;

}


/*로그인박스*/
#aside_login {
    margin:10px 30px 10px 0px;

    background-color: #F2F2F2;
    border: 1px #D8D8D8 solid ;

    height: 140.234px;
}

#loginTxt {

    margin-left: 15px;

    margin-top: 20px;
    margin-bottom: 15px;

    font-size: 12px;

    color: #585858;
}

#loginBtn  {
    margin-left: 15px;
    
    width: 90%;
    height: 50px;

    background-color: #19ce60;
    
    color: white;
    text-align: center;

    font-weight: bold;

    border-radius: 2px;
}

#loginBtn:hover {cursor: pointer;}

#loginBtnTxt {
    padding-top: 15px;
}

#loginHelp {margin-top: 10px;}

#loginHelp a:hover {text-decoration: underline; cursor: pointer;}

#loginID{
    margin-left: 15px;
}

#joinUs {
    margin-left: 120px;
}


#loginID, #loginPW, #joinUs {
    font-size: 12px;
    text-decoration: none;
}


/*사이클 박스*/
#aside_cycleInform {
    margin:10px 30px 10px 0px;

    height: 43px;

    border: 1.5px #D8D8D8 solid ;
    

}

#cycleTxt {margin-top: 12px;}

#cycleBtn {margin-left: 5px;}

#cycle_1 {
    text-decoration: none;

    color: black;
    font-weight: bold;
    font-size: 15px;


    margin-left: 15px;
}

#cycle_2 {
    text-decoration: none;

    color: black;
    font-size: 15px;

    margin-left: 5px;
}

#cycle_2:hover {text-decoration: underline;}


/*사이드 홍보*/
#aside_promote {
    margin:10px 30px 10px 0px;

    background-color: #F2F2F2;
    border: 1px #D8D8D8 solid ;
    
}


/*사이드 상품판매*/
#aside_shoptxt {
    margin:30px 30px 20px 0px;
}

#shoptxt_1, #shoptxt_2, #shoptxt_3, #shoptxt_4 {
    font-size: 13px;
    font-weight: bold;
}

#shoptxt_2, #shoptxt_3, #shoptxt_4 {
    margin-right: 6px;
}

#shoptxt_2:hover, #shoptxt_3:hover, #shoptxt_4:hover {
    text-decoration: none;
    cursor: pointer;
}

#shoptxt_1:hover {
    text-decoration: underline;
    
    cursor: pointer;
}

#shoptxt_2 {
    color: #19ce60;
    text-decoration: underline;

    margin-left: 183px;
}


#aside_shop {
    cursor: default;

    margin:10px 30px 10px 0px;
    border: 1px #D8D8D8 solid ;

    font-size: 12px;
    line-height: 25px;
}

#shopLink {
    background-color: #F2F2F2;

    border-bottom: 1px solid #d8d8d8;

    height: 50px;

    padding: 15px;

}

#shopLink a {
    color: black;
    text-decoration: none;
}

#shopLink a:hover {
    text-decoration: underline;
}

#Link1 a{
    margin-right: 8px;
}


#Oction, #Tmon, #CJmall, #LotteON {
    font-weight: bold;
}

#tpProdSwitch {
    margin:15px 0px 15px 0px;

}

#tpProdCnt {
    margin-left: 240px;
}


.switchBtn {
    background-color: white;
    border: 1px solid #D8D8D8;
    font-weight: bold;

    color: #585858;
}

.switchBtn:hover {
    cursor: pointer;
    background-color: #FAFAFA;
    color: black;
}

/*상품*/

#productSection {
    height: 890px;
}

.product {
    height: 200px;
}

.productNum {
    float: left;

    margin-left: 10px;

    text-align: center;

    width: 100px;
    height: 200px;
}

.productImg {

    background-image: url('http://placehold.it/105x144');
    background-repeat: no-repeat;
    
    height: 144px;
}

#product_1_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod1.PNG');
}

#product_2_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod2.PNG');
}

#product_3_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod3.PNG');
}

#product_4_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod4.PNG');
}

#product_5_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod5.PNG');
}

#product_6_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod6.PNG');
}

#product_7_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod7.PNG');
}

#product_8_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod8.PNG');
}

#product_9_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod9.PNG');
}

#product_10_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod10.PNG');
}

#product_11_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod11.PNG');
}

#product_12_img {
    height: 144px;
    background-repeat: no-repeat;
    background-image: url('./asideImg/prod12.PNG');
}


.productNum:hover {
    cursor: pointer;
}

.productNum:hover .productTxt {
    text-decoration: underline;
}

.productTxt {
    font-size: 11px;
}

#tpProdSwitch {
    margin-left: 11px;
}

#btProdSwitch {
    width: 100%;
    height: 25px;

    margin-top: 10px;
    margin-left: 130px;
}

/*반갑다 쇼핑뉴스*/
#shopArticle {
    height: 100px;
}

#tpNewsSwitch {
    margin: 10px;
}

#tpNewsTxt {
    font-weight: bold;
    font-size: 13px;
}
#tpNewsCnt {
    margin-left: 140px;
}


.point {
    color: #19ce60;
    font-size: 25px;
}

.shopBrand {
    font-weight: bold;
    font-size: 12px;
}

.shopTxt {
    font-size: 12px;
}

.shop a {
    margin-left: 5px;
}

.shop:hover {
    cursor: pointer;
    /*text-decoration: underline;*/
}

.shop:hover .shopTxt, .shop:hover .shopBrand {
    text-decoration: underline;
}