
#main_content {
    width: 1200px;
    height: 1000px;

    margin: 0 auto;
}

#main_box {
    width: 75%;
    float: left;
}
#aside_box {
    width: 25%;
    float: right;
}


#main_promote {
    margin: 10px 100px 10px 30px;

    border: 1px #D8D8D8 solid ;
}

#main_promote:hover {
    cursor: pointer;
}

#main_cycleNews {
    background-color: #F2F2F2;

    margin: 10px 100px 10px 30px;
    padding: 15px 10px;

    border: 1px #D8D8D8 solid ;

    font-size: 13px;
    
    cursor: default;
    
}

#main_cycleNewsContent {
    margin-left: 5px;
    
    text-decoration: none;
    font-weight: bold;
}

#main_cycleNewsContent:visited {
    color: black;
}

#main_breakingNews {
    margin-left: 5px;

    text-decoration: none;
}

#main_breakingNews:hover {
    text-decoration: underline;
}

#main_breakingNews:visited {
    color:black;
}


#main_nvNews {
    margin-left: 100px;

    color: #0040FF;

    font-weight: bold;
}

#main_ett, #main_spt, #main_ec {
    margin-left: 4px;
    font-weight: bold;
}

#main_nvNews, #main_ett, #main_spt, #main_ec {
    text-decoration: none;
    
}

#main_ett:visited, #main_spt:visited, #main_ec:visited {
    color:black;
}

#main_newsStand {
    margin: 10px 100px 10px 30px;
    padding: 15px 10px;

    cursor: default;

    font-size: 14px;
}

#main_newsStandLink{
    text-decoration: none;
    font-weight: bold;
}

#main_subs_media, #main_full_media {
    text-decoration: none;
}

#main_newsStandLink:visited {
    color: black;
}

#main_subs_media {
    color: gray;
}

#main_full_media {
    color: black;
    font-weight: bold;
}

#main_seeList {
    margin-left: 390px;

    
    color:#848484;  
    font-weight: bold;
}

#main_seeImage {
    margin-left: 15px;

    color:#0040FF;
    font-weight: bold;
}

#main_setMedia {
    margin-left: 15px;


    text-decoration: none;
    color: #848484;
    font-weight: bold;
}