#main_todayArticle, #cat_todayArticle, #main_article, #main_article2, #movieArticle {
    margin: 10px 30px 10px 30px;
    padding: 15px 10px;
}

#todayArticle {    
    margin: 10px 30px 10px 30px;
    padding: 15px 10px;

    height: 350px;
}

#main_todayArticle_txt_1 {

    font-size: 15px;
    font-weight: bold;
}

#main_todayArticle_txt_2, #main_todayArticle_txt_3, #main_todayArticle_txt_4, #main_todayArticle_txt_5 {

    font-size: 12px;
    color: #585858;
}

#main_todayArticle_txt_3 {
    margin-left: 275px;
}

#main_todayArticle_txt_5:hover {

    cursor: pointer;
    color: black;

    text-decoration: underline;
}

#cat_todayArticle {
    padding: 0px;

    height: 50px;

    border: 1px #D8D8D8 solid ;
}


.cat_today {
    float: left;

    width: 95px;
    height: 50px;
    
    font-weight: bold;
    font-size: 15px;

    text-align: center;

    
    border-right: 1px #D8D8D8 solid;

}

.cat_today:hover{
    color: #19ce60;

    cursor: pointer;
}


#leftArticle {

    float: left;

    width: 50%;
    height: 350px;

}

#rightArticle {
    
    float: left;

    width: 50%;
    height: 350px;
}

#img_tdAt {
    background-image: url('http://placehold.it/350x170');
    background-repeat: no-repeat;
    height: 170px;

    margin-bottom: 20px;

}
#txt_tdAt {
    padding-right: 20px;
}


#txt_tdAt_1 {

    margin-bottom: 10px;

    color:  #19ce60;

    font-weight: bold;
    font-size: 13px;
}

#txt_tdAt_2 {

    margin-bottom: 10px;

    font-weight: bold;
    font-size: 14px;
}

#txt_tdAt_3 {

    margin-bottom: 7px;

    font-size: 13px;
    
    line-height: 22px;
}

#txt_tdAt_4 {
    font-size: 12px;
}

#book_1_1, #book_2_1, #book_3_1 {
    color:#19ce60;

    margin-left: 110px;

    font-weight: bold;
    font-size: 13px;
}

#book_1_2, #book_2_2, #book_3_2 {
    margin-top: 10px;
    margin-left: 110px;

    font-weight: bold;
    font-size: 15px;

    line-height: 19px;
}

#book_1_3, #book_2_3, #book_3_3 {    
    margin-top: 10px;
    margin-left: 110px;

    font-size: 13px;

}

#book_1, #book_2, #book_3 {
    height: 100px;

    margin-bottom: 15px;
}

#mainAt_1 {
    margin-bottom: 20px;
}

#mainAt_1_1 {

}

#movieArticle {
    height: 200px;
}

#mv_1, #mv_2, #mv_3 {

    margin-bottom: 10px;

    background-image: url('http://placehold.it/240x120');
    background-repeat: no-repeat;

    height: 120px;
}

#mvAt_1, #mvAt_2, #mvAt_3 {
    float: left;


    width: 250px;
    height: 200px;
}
